In [1]:
import pandas as pd

In [2]:
microdados_enem_2018 = pd.read_csv('../Dados/Enem 2018/DADOS/MICRODADOS_ENEM_2018.csv', sep = ';', encoding='ISO-8859-1')

In [3]:
microdados_enem_2018.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027
0,180007186625,2018,2,F,0.0,4,1,2,0,4,...,B,C,B,B,D,B,C,B,B,D
1,180007186627,2018,3,F,0.0,4,1,1,1,1,...,A,B,A,A,B,A,A,A,A,A
2,180007186628,2018,3,M,0.0,0,1,2,0,2,...,A,B,B,A,D,A,A,A,B,A
3,180007186629,2018,2,F,0.0,3,1,2,0,4,...,A,C,A,B,D,B,A,B,B,B
4,180007186631,2018,11,F,0.0,5,1,1,6,1,...,A,B,B,A,C,A,B,A,A,A

In [4]:
microdados_enem_2018

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027
0,180007186625,2018,2,F,0.0,4,1,2,0,4,...,B,C,B,B,D,B,C,B,B,D
1,180007186627,2018,3,F,0.0,4,1,1,1,1,...,A,B,A,A,B,A,A,A,A,A
2,180007186628,2018,3,M,0.0,0,1,2,0,2,...,A,B,B,A,D,A,A,A,B,A
3,180007186629,2018,2,F,0.0,3,1,2,0,4,...,A,C,A,B,D,B,A,B,B,B
4,180007186631,2018,11,F,0.0,5,1,1,6,1,...,A,B,B,A,C,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5513728,180014002713,2018,11,F,0.0,2,2,1,10,1,...,A,A,A,A,C,A,B,B,A,A
5513729,180014002715,2018,4,F,0.0,3,1,1,1,1,...,A,B,A,A,B,A,A,A,A,A
5513730,180014002716,2018,5,M,0.0,0,1,1,2,1,...,B,B,A,A,D,B,A,B,A,A
5513731,180014002721,2018,5,F,0.0,3,1,1,2,1,...,A,B,B,A,D,A,B,B,A,A
5513732,180014002722,2018,11,M,1.0,1,1,1,8,1,...,A,B,A,A,C,A,B,B,A,B

In [5]:
microdados_enem_2018.dropna(inplace=True)

In [6]:
microdados_enem_2018

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027
0,180007186625,2018,2,F,0.0,4,1,2,0,4,...,B,C,B,B,D,B,C,B,B,D
2,180007186628,2018,3,M,0.0,0,1,2,0,2,...,A,B,B,A,D,A,A,A,B,A
3,180007186629,2018,2,F,0.0,3,1,2,0,4,...,A,C,A,B,D,B,A,B,B,B
5,180007186632,2018,2,F,0.0,3,1,2,0,2,...,A,B,B,A,D,A,A,B,B,B
11,180007186638,2018,2,F,0.0,0,1,2,0,2,...,A,C,A,A,D,A,A,A,B,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5513622,180014002519,2018,3,F,0.0,1,1,2,0,4,...,B,C,A,B,D,B,B,B,B,D
5513644,180014002546,2018,3,M,0.0,3,1,2,0,2,...,A,B,A,A,D,A,A,A,B,C
5513670,180014002584,2018,3,M,0.0,3,1,2,0,2,...,A,B,A,A,C,A,B,B,B,A
5513682,180014002611,2018,2,M,0.0,3,1,2,0,2,...,A,A,A,A,C,A,A,A,B,A
5513687,180014002617,2018,4,M,0.0,1,1,2,0,2,...,A,B,B,A,D,A,B,B,B,A

In [7]:
microdados_enem_2018.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027'], dtype=object)

In [8]:
colunas_selecionadas = ['NU_INSCRICAO', 'TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
                        'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA',
                        'TP_ENSINO', 'IN_TREINEIRO', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC', 
                        'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
                        'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN',
                        'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 
                        'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO',
                        'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
                        'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
                        'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
                        'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
                        'Q023', 'Q024', 'Q025', 'Q026', 'Q027']

In [9]:
microdados_enem_2018_selecionados = pd.DataFrame(microdados_enem_2018.filter(colunas_selecionadas))

In [10]:
renomenclatura_colunas = {'NU_INSCRICAO':'Número de inscrição', 'NU_ANO': 'Ano do Enem', 'TP_FAIXA_ETARIA':'Faixa etária',
                          'TP_SEXO':'Sexo', 'TP_ESTADO_CIVIL':'Estado Civil', 'TP_COR_RACA':'Cor/raça','TP_NACIONALIDADE':'Nacionalidade',
                          'TP_ST_CONCLUSAO':'Situação de conclusão do Ensino Médio','TP_ANO_CONCLUIU':'Ano de Conclusão do Ensino Médio',
                          'TP_ESCOLA':'Tipo de escola do Ensino Médio','TP_ENSINO':'Tipo de instituição que concluiu ou concluirá o Ensino Médio',
                          'IN_TREINEIRO':'Indica se o inscrito fez a prova com intuito de apenas treinar seus conhecimentos','CO_MUNICIPIO_ESC':'Código do município da escola',
                          'NO_MUNICIPIO_ESC':'Nome do município da escola','CO_UF_ESC':'Código da Unidade da Federação da escola',
                          'SG_UF_ESC':'Sigla da Unidade da Federação da escola','TP_DEPENDENCIA_ADM_ESC':'Dependência administrativa (Escola)',
                          'TP_LOCALIZACAO_ESC':'Localização (Escola)','TP_SIT_FUNC_ESC':'Situação de funcionamento (Escola)',
                          'CO_MUNICIPIO_PROVA':'Código do município da aplicação da prova','NO_MUNICIPIO_PROVA':'Nome do município da aplicação da prova',
                          'CO_UF_PROVA':'Código da Unidade da Federação da aplicação da prova','SG_UF_PROVA':'Sigla da Unidade da Federação da aplicação da prova',
                          'TP_PRESENCA_CN':'Presença na prova objetiva de Ciências da Natureza','TP_PRESENCA_CH':'Presença na prova objetiva de Ciências Humanas',
                          'TP_PRESENCA_LC':'Presença na prova objetiva de Linguagens e Códigos','TP_PRESENCA_MT':'Presença na prova objetiva de Matemática',
                          'CO_PROVA_CN':'Código do tipo de prova de Ciências da Natureza', 'CO_PROVA_CH':'Código do tipo de prova de Ciências Humanas',
                          'CO_PROVA_LC':'Código do tipo de prova de Linguagens e Códigos', 'CO_PROVA_MT':'Código do tipo de prova de Matemática',
                          'NU_NOTA_CN':'Nota da prova de Ciências da Natureza', 'NU_NOTA_CH':'Nota da prova de Ciências Humanas', 'NU_NOTA_LC':'Nota da prova de Linguagens e Códigos',
                          'NU_NOTA_MT':'Nota da prova de Matemática', 'TX_RESPOSTAS_CN':'Vetor com as respostas da parte objetiva da prova de Ciências da Natureza',
                          'TX_RESPOSTAS_CH':'Vetor com as respostas da parte objetiva da prova de Ciências Humanas', 'TX_RESPOSTAS_LC':'Vetor com as respostas da parte objetiva da prova de Linguagens e Códigos',
                          'TX_RESPOSTAS_MT':'Vetor com as respostas da parte objetiva da prova de Matemática', 'TP_LINGUA':'Língua Estrangeira',
                          'TX_GABARITO_CN':'Vetor com o gabarito da parte objetiva da prova de Ciências da Natureza', 'TX_GABARITO_CH':'Vetor com o gabarito da parte objetiva da prova de Ciências Humanas',
                          'TX_GABARITO_LC':'Vetor com o gabarito da parte objetiva da prova de Linguagens e Códigos','TX_GABARITO_MT':'Vetor com o gabarito da parte objetiva da prova de Matemática',
                          'TP_STATUS_REDACAO':'Situação da redação do participante', 'NU_NOTA_COMP1':'Nota da competência 1 - Demonstrar domínio da modalidade escrita formal da Língua Portuguesa.',
                          'NU_NOTA_COMP2':'Nota da competência 2 - Compreender a proposta de redação e aplicar conceitos das várias áreas de conhecimento para desenvolver o tema, dentro dos limites estruturais do texto dissertativo-argumentativo em prosa.',
                          'NU_NOTA_COMP3':'Nota da competência 3 - Selecionar, relacionar, organizar e interpretar informações, fatos, opiniões e argumentos em defesa de um ponto de vista.',
                          'NU_NOTA_COMP4':'Nota da competência 4 - Demonstrar conhecimento dos mecanismos linguísticos necessários para a construção da argumentação.',
                          'NU_NOTA_COMP5':'Nota da competência 5 - Elaborar proposta de intervenção para o problema abordado, respeitando os direitos humanos.',
                          'NU_NOTA_REDACAO':'Nota da prova de redação.','Q001':'Até que série seu pai, ou o homem responsável por você, estudou?',
                          'Q002':'Até que série sua mãe, ou a mulher responsável por você, estudou?',
                          'Q003':'A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação do seu pai ou do homem responsável por você. (Se ele não estiver trabalhando, escolha uma ocupação pensando no último trabalho dele).',
                          'Q004':'A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação da sua mãe ou da mulher responsável por você. (Se ela não estiver trabalhando, escolha uma ocupação pensando no último trabalho dela).',
                          'Q005':'Incluindo você, quantas pessoas moram atualmente em sua residência?',
                          'Q006':'Qual é a renda mensal de sua família? (Some a sua renda com a dos seus familiares.)',
                          'Q007':'Em sua residência trabalha empregado(a) doméstico(a)?',
                          'Q008':'Na sua residência tem banheiro?',
                          'Q009':'Na sua residência tem quartos para dormir?',
                          'Q010':'Na sua residência tem carro?',
                          'Q011':'Na sua residência tem motocicleta?',
                          'Q012':'Na sua residência tem geladeira?',
                          'Q013':'Na sua residência tem freezer (independente ou segunda porta da geladeira)?',
                          'Q014':'Na sua residência tem máquina de lavar roupa? (o tanquinho NÃO deve ser considerado)',
                          'Q015':'Na sua residência tem máquina de secar roupa (independente ou em conjunto com a máquina de lavar roupa)?',
                          'Q016':'Na sua residência tem forno micro-ondas?',
                          'Q017':'Na sua residência tem máquina de lavar louça?',
                          'Q018':'Na sua residência tem aspirador de pó?',
                          'Q019':'Na sua residência tem televisão em cores?',
                          'Q020':'Na sua residência tem aparelho de DVD?',
                          'Q021':'Na sua residência tem TV por assinatura?',
                          'Q022':'Na sua residência tem telefone celular?',
                          'Q023':'Na sua residência tem telefone fixo?',
                          'Q024':'Na sua residência tem computador?',
                          'Q025':'Na sua residência tem acesso à Internet?',
                          'Q026':'Você já concluiu ou está concluindo o Ensino Médio?',
                          'Q027':'Em que tipo de escola você frequentou o Ensino Médio?'
                         }

In [11]:
microdados_enem_2018_selecionados.rename(columns={key:value for key, value in renomenclatura_colunas.items() if key in colunas_selecionadas}, inplace=True)

In [12]:
colunas_com_valores_unicos = [column for column in microdados_enem_2018_selecionados.columns if microdados_enem_2018_selecionados[column].nunique() == 1]
colunas_com_valores_unicos

['Situação de conclusão do Ensino Médio',
 'Ano de Conclusão do Ensino Médio',
 'Indica se o inscrito fez a prova com intuito de apenas treinar seus conhecimentos',
 'Presença na prova objetiva de Ciências da Natureza',
 'Presença na prova objetiva de Ciências Humanas',
 'Presença na prova objetiva de Linguagens e Códigos',
 'Presença na prova objetiva de Matemática',
 'Você já concluiu ou está concluindo o Ensino Médio?']

In [13]:
microdados_enem_2018_selecionados.drop(columns=colunas_com_valores_unicos, inplace=True)

In [14]:
microdados_enem_2018_selecionados.columns.values

array(['Número de inscrição', 'Faixa etária', 'Sexo', 'Estado Civil',
       'Cor/raça', 'Tipo de escola do Ensino Médio',
       'Tipo de instituição que concluiu ou concluirá o Ensino Médio',
       'Nome do município da escola',
       'Sigla da Unidade da Federação da escola',
       'Dependência administrativa (Escola)', 'Localização (Escola)',
       'Situação de funcionamento (Escola)',
       'Nome do município da aplicação da prova',
       'Sigla da Unidade da Federação da aplicação da prova',
       'Nota da prova de Ciências da Natureza',
       'Nota da prova de Ciências Humanas',
       'Nota da prova de Linguagens e Códigos',
       'Nota da prova de Matemática', 'Língua Estrangeira',
       'Situação da redação do participante',
       'Nota da competência 1 - Demonstrar domínio da modalidade escrita formal da Língua Portuguesa.',
       'Nota da competência 2 - Compreender a proposta de redação e aplicar conceitos das várias áreas de conhecimento para desenvolver o tema, dentro dos limites estruturais do texto dissertativo-argumentativo em prosa.',
       'Nota da competência 3 - Selecionar, relacionar, organizar e interpretar informações, fatos, opiniões e argumentos em defesa de um ponto de vista.',
       'Nota da competência 4 - Demonstrar conhecimento dos mecanismos linguísticos necessários para a construção da argumentação.',
       'Nota da competência 5 - Elaborar proposta de intervenção para o problema abordado, respeitando os direitos humanos.',
       'Nota da prova de redação.',
       'Até que série seu pai, ou o homem responsável por você, estudou?',
       'Até que série sua mãe, ou a mulher responsável por você, estudou?',
       'A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação do seu pai ou do homem responsável por você. (Se ele não estiver trabalhando, escolha uma ocupação pensando no último trabalho dele).',
       'A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação da sua mãe ou da mulher responsável por você. (Se ela não estiver trabalhando, escolha uma ocupação pensando no último trabalho dela).',
       'Incluindo você, quantas pessoas moram atualmente em sua residência?',
       'Qual é a renda mensal de sua família? (Some a sua renda com a dos seus familiares.)',
       'Em sua residência trabalha empregado(a) doméstico(a)?',
       'Na sua residência tem banheiro?',
       'Na sua residência tem quartos para dormir?',
       'Na sua residência tem carro?',
       'Na sua residência tem motocicleta?',
       'Na sua residência tem geladeira?',
       'Na sua residência tem freezer (independente ou segunda porta da geladeira)?',
       'Na sua residência tem máquina de lavar roupa? (o tanquinho NÃO deve ser considerado)',
       'Na sua residência tem máquina de secar roupa (independente ou em conjunto com a máquina de lavar roupa)?',
       'Na sua residência tem forno micro-ondas?',
       'Na sua residência tem máquina de lavar louça?',
       'Na sua residência tem aspirador de pó?',
       'Na sua residência tem televisão em cores?',
       'Na sua residência tem aparelho de DVD?',
       'Na sua residência tem TV por assinatura?',
       'Na sua residência tem telefone celular?',
       'Na sua residência tem telefone fixo?',
       'Na sua residência tem computador?',
       'Na sua residência tem acesso à Internet?',
       'Em que tipo de escola você frequentou o Ensino Médio?'],
      dtype=object)

In [15]:
faixa_etaria = {1 :  'Menor de 17 anos', 2 :  '17 anos', 3 :  '18 anos', 4 :  '19 anos', 
                5 :  '20 anos', 6 :  '21 anos', 7 :  '22 anos',  8 :  '23 anos',
                9 :  '24 anos', 10 : '25 anos', 11 : 'Entre 26 e 30 anos', 12 : 'Entre 31 e 35 anos',
                13 : 'Entre 36 e 40 anos', 14 : 'Entre 41 e 45 anos', 15 : 'Entre 46 e 50 anos', 16 : 'Entre 51 e 55 anos',
                17 : 'Entre 56 e 60 anos', 18 : 'Entre 61 e 65 anos', 19 : 'Entre 66 e 70 anos', 20 : 'Maior de 70 anos'
}

estado_civil = {0:'Solteiro(a)', 1:'Casado(a)/Mora com companheiro(a)', 
                2:'Divorciado(a)/Desquitado(a)/Separado(a)', 3:'Viúvo(a)'
}

cor_raca = {0:'Não declarado', 1:'Branca', 2:'Preta',
            3:'Parda', 4:'Amarela', 5:'Indígena'
}


tipo_escola_em = {1:'Não Respondeu', 2:'Pública', 3:'Exterior', 4:'Privada'}

tipo_instituicao_em = {1:'Ensino Regular', 2:'Educação Especial - Modalidade Substitutiva', 3:'Educação de Jovens e Adultos'}


dependencia_adm = {1: 'Federal', 2: 'Estadual',	3: 'Municipal', 4: 'Privada'}

urbana_rural = {1: 'Urbana', 2:	'Rural'}

situacao_funcionamento = {1:'Em atividade',	2:'Paralisada', 3:'Extinta', 4:'Escola extinta em anos anteriores.'}


codigo_tipo_provas = {447:'Azul', 448: 'Amarela', 449: 'Cinza', 450: 'Rosa',
                      463:'Laranja - Adaptada Ledor', 467: 'Verde - Videoprova - Libras', 487: 'Amarela (Reaplicação)', 488:'Cinza (Reaplicação)', 489:	'Azul (Reaplicação)', 490: 'Rosa (Reaplicação)', 
                      451:'Azul', 452: 'Amarela', 453: 'Branca', 454: 'Rosa', 464: 'Laranja - Adaptada Ledor', 468: 'Verde - Videoprova - Libras', 491: 'Azul (Reaplicação)', 492: 'Amarelo (Reaplicação)', 493: 'Branco (Reaplicação)', 494: 'Rosa (Reaplicação)',
                      455:'Azul', 456: 'Amarela', 457: 'Rosa', 458: 'Branca', 465:'Laranja - Adaptada Ledor', 469: 'Verde - Videoprova - Libras', 495: 'Azul (Reaplicação)', 496: 'Amarelo (Reaplicação)', 497: 'Branca (Reaplicação)', 498: 'Rosa (Reaplicação)',
                      459: 'Azul', 460: 'Amarela', 461: 'Rosa', 462: 'Cinza', 466: 'Laranja - Adaptada Ledor', 470: 'Verde - Videoprova - Libras', 499: 'Amarela (Reaplicação)', 500: 'Cinza (Reaplicação)', 501: 'Azul (Reaplicação)', 502: 'Rosa (Reaplicação)' }

lingua_estrangeira = {0: 'Inglês', 1: 'Espanhol'}

situacao_redacao_particiapente = {1: 'Sem problemas', 2: 'Anulada', 3: 'Cópia Texto Motivador', 4: 'Em Branco',
								  6: 'Fuga ao tema', 7: 'Não atendimento ao tipo textual', 8: 'Texto insuficiente',
								  9: 'Parte desconectada'
}

serie_estudo_do_pai = { 'A': 'Nunca estudou.', 'B': 'Não completou a 4ª série/5º ano do Ensino Fundamental.', 'C': 'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.', 'D': 'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.', 'E': 'Completou o Ensino Médio, mas não completou a Faculdade.', 'F': 'Completou a Faculdade, mas não completou a Pós-graduação.', 'G': 'Completou a Pós-graduação.', 'H': 'Não sei.'

}

serie_estudo_da_mae  = { 'A': 'Nunca estudou.', 'B': 'Não completou a 4ª série/5º ano do Ensino Fundamental.', 'C': 'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.', 'D': 'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.', 'E': 'Completou o Ensino Médio, mas não completou a Faculdade.', 'F': 'Completou a Faculdade, mas não completou a Pós-graduação.', 'G': 'Completou a Pós-graduação.', 'H': 'Não sei.'

}


ocupacao_pai = { 'A': 'Grupo 1: Lavrador, agricultor sem empregados, bóia fria, criador de animais (gado, porcos, galinhas, ovelhas,cavalos etc.), apicultor, pescador, lenhador, seringueiro, extrativista.', 
				 'B': 'Grupo 2: Diarista, empregado doméstico, cuidador de idosos, babá, cozinheiro (em casas particulares), motorista particular, jardineiro, faxineiro de empresas e prédios, vigilante, porteiro, carteiro, office-boy, vendedor, caixa, atendente de loja, auxiliar administrativo, recepcionista, servente de pedreiro, repositor de mercadoria.',
				 'C': 'Grupo 3: Padeiro, cozinheiro industrial ou em restaurantes, sapateiro, costureiro, joalheiro, torneiro mecânico, operador de máquinas, soldador, operário de fábrica, trabalhador da mineração, pedreiro, pintor, eletricista, encanador, motorista, caminhoneiro, taxista.',
				 'D': 'Grupo 4: Professor (de ensino fundamental ou médio, idioma, música, artes etc.), técnico (de enfermagem, contabilidade, eletrônica etc.), policial, militar de baixa patente (soldado, cabo, sargento), corretor de imóveis, supervisor, gerente, mestre de obras, pastor, microempresário (proprietário de empresa com menos de 10 empregados), pequeno comerciante, pequeno proprietário de terras, trabalhador autônomo ou por conta própria.',
				 'E': 'Grupo 5: Médico, engenheiro, dentista, psicólogo, economista, advogado, juiz, promotor, defensor, delegado, tenente, capitão, coronel, professor universitário, diretor em empresas públicas ou privadas, político, proprietário de empresas com mais de 10 empregados.',
				 'F': 'Não sei.'
}

ocupacao_mae = { 'A': 'Grupo 1: Lavradora, agricultora sem empregados, bóia fria, criadora de animais (gado, porcos, galinhas, ovelhas, cavalos etc.), apicultora, pescadora, lenhadora, seringueira, extrativista.',
				 'B': 'Grupo 2: Diarista, empregada doméstica, cuidadora de idosos, babá, cozinheira (em casas particulares), motorista particular, jardineira, faxineira de empresas e prédios, vigilante, porteira, carteira, office-boy, vendedora, caixa, atendente de loja, auxiliar administrativa, recepcionista, servente de pedreiro, repositora de mercadoria.',
				 'C': 'Grupo 3: Padeira, cozinheira industrial ou em restaurantes, sapateira, costureira, joalheira, torneira mecânica, operadora de máquinas, soldadora, operária de fábrica, trabalhadora da mineração, pedreira, pintora, eletricista, encanadora, motorista, caminhoneira, taxista.',
				 'D': 'Grupo 4: Professora (de ensino fundamental ou médio, idioma, música, artes etc.), técnica (de enfermagem, contabilidade, eletrônica etc.), policial, militar de baixa patente (soldado, cabo, sargento), corretora de imóveis, supervisora, gerente, mestre de obras, pastora, microempresária (proprietária de empresa com menos de 10 empregados), pequena comerciante, pequena proprietária de terras, trabalhadora autônoma ou por conta própria.',
				 'E': 'Grupo 5: Médica, engenheira, dentista, psicóloga, economista, advogada, juíza, promotora, defensora, delegada, tenente, capitã, coronel, professora universitária, diretora em empresas públicas ou privadas, política, proprietária de empresas com mais de 10 empregados.',
				 'F': 'Não sei.'
}

renda_familiar = {	'A': 'Nenhuma renda.',
					'B': 'Até R$ 954,00.',
					'C': 'De R$ 954,01 até R$ 1.431,00.',
					'D': 'De R$ 1.431,01 até R$ 1.908,00.',
					'E': 'De R$ 1.908,01 até R$ 2.385,00.',
					'F': 'De R$ 2.385,01 até R$ 2.862,00.',
					'G': 'De R$ 2.862,01 até R$ 3.816,00.',
					'H': 'De R$ 3.816,01 até R$ 4.770,00.',
					'I': 'De R$ 4.770,01 até R$ 5.724,00.',
					'J': 'De R$ 5.724,01 até R$ 6.678,00.',
					'K': 'De R$ 6.678,01 até R$ 7.632,00.',
					'L': 'De R$ 7.632,01 até R$ 8.586,00.',
					'M': 'De R$ 8.586,01 até R$ 9.540,00.',
					'N': 'De R$ 9.540,01 até R$ 11.448,00.',
					'O': 'De R$ 11.448,01 até R$ 14.310,00.',
					'P': 'De R$ 14.310,01 até R$ 19.080,00.',
					'Q': 'Mais de R$ 19.080,00.'
}

empregado_domestico = {	'A':'Não.',
						'B':'Sim, um ou dois dias por semana.',
						'C':'Sim, três ou quatro dias por semana.',
						'D':'Sim, pelo menos cinco dias por semana.'
}

respostas_variadas = { 	'A':'Não.',
						'B':'Sim, um.',
						'C':'Sim, dois.',
						'D':'Sim, três.',
						'E':'Sim, quatro ou mais.',
}
	
resposta_binaria = { 'A':'Não.', 'B': 'Sim.'}


tipo_escola_conclusao_em = {
'A':'Somente em escola pública.',
'B':'Parte em escola pública e parte em escola privada SEM bolsa de estudo integral.',
'C':'Parte em escola pública e parte em escola privada COM bolsa de estudo integral.',
'D':'Somente em escola privada SEM bolsa de estudo integral.',
'E':'Somente em escola privada COM bolsa de estudo integral.',
'F':'Não frequentei a escola'
}

In [16]:
dicioanrio_substituicao ={
	'Faixa etária': faixa_etaria,
	'Estado Civil': estado_civil,
	'Cor/raça':	cor_raca,
	'Tipo de escola do Ensino Médio': tipo_escola_em,
	'Tipo de instituição que concluiu ou concluirá o Ensino Médio':	tipo_instituicao_em,
	'Dependência administrativa (Escola)': dependencia_adm,	
	'Localização (Escola)':	urbana_rural,	
	'Situação de funcionamento (Escola)':	situacao_funcionamento,
	'Código do tipo de prova de Ciências da Natureza': codigo_tipo_provas,
	'Código do tipo de prova de Ciências Humanas': codigo_tipo_provas,
	'Código do tipo de prova de Linguagens e Códigos': codigo_tipo_provas,
	'Código do tipo de prova de Matemática': codigo_tipo_provas,
	'Língua Estrangeira' : lingua_estrangeira,
	'Situação da redação do participante' : situacao_redacao_particiapente,
	'Até que série seu pai, ou o homem responsável por você, estudou?' : serie_estudo_do_pai,
	'Até que série sua mãe, ou a mulher responsável por você, estudou?' : serie_estudo_da_mae,
	'A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação do seu pai ou do homem responsável por você. (Se ele não estiver trabalhando, escolha uma ocupação pensando no último trabalho dele).' : ocupacao_pai,
	'A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação da sua mãe ou da mulher responsável por você. (Se ela não estiver trabalhando, escolha uma ocupação pensando no último trabalho dela).':  ocupacao_mae,
	'Qual é a renda mensal de sua família? (Some a sua renda com a dos seus familiares.)': renda_familiar,
	'Em sua residência trabalha empregado(a) doméstico(a)?': empregado_domestico,
	'Na sua residência tem banheiro?': respostas_variadas,
	'Na sua residência tem quartos para dormir?': respostas_variadas,
	'Na sua residência tem carro?': respostas_variadas,
	'Na sua residência tem motocicleta?': respostas_variadas,
	'Na sua residência tem geladeira?': respostas_variadas,
	'Na sua residência tem freezer (independente ou segunda porta da geladeira)?': respostas_variadas,
	'Na sua residência tem máquina de lavar roupa? (o tanquinho NÃO deve ser considerado)': respostas_variadas,
	'Na sua residência tem máquina de secar roupa (independente ou em conjunto com a máquina de lavar roupa)?': respostas_variadas,
	'Na sua residência tem forno micro-ondas?': respostas_variadas,
	'Na sua residência tem máquina de lavar louça?': respostas_variadas,
	'Na sua residência tem aspirador de pó?': resposta_binaria,
	'Na sua residência tem televisão em cores?': respostas_variadas,	
	'Na sua residência tem aparelho de DVD?': resposta_binaria,
	'Na sua residência tem TV por assinatura?': resposta_binaria,
	'Na sua residência tem telefone celular?': respostas_variadas,
	'Na sua residência tem telefone fixo?': resposta_binaria,
	'Na sua residência tem computador?': respostas_variadas,
	'Na sua residência tem acesso à Internet?': resposta_binaria,
	'Em que tipo de escola você frequentou o Ensino Médio?': tipo_escola_conclusao_em,
}

In [17]:
microdados_enem_2018_selecionados = microdados_enem_2018_selecionados.replace(dicioanrio_substituicao)

In [18]:
for coluna in microdados_enem_2018_selecionados.columns:
    unicos = microdados_enem_2018_selecionados[coluna].unique()
    print(f"Dados únicos da coluna {coluna}: {unicos}\n\n")

Dados únicos da coluna Número de inscrição: [180007186625 180007186628 180007186629 ... 180014002584 180014002611
 180014002617]


Dados únicos da coluna Faixa etária: ['17 anos' '18 anos' '19 anos' 'Menor de 17 anos' 'Entre 26 e 30 anos'
 '20 anos' '21 anos' 'Entre 41 e 45 anos' '22 anos' 'Entre 31 e 35 anos'
 '24 anos' '23 anos' '25 anos' 'Entre 36 e 40 anos' 'Entre 46 e 50 anos'
 'Entre 51 e 55 anos' 'Entre 61 e 65 anos' 'Entre 56 e 60 anos'
 'Entre 66 e 70 anos' 'Maior de 70 anos']


Dados únicos da coluna Sexo: ['F' 'M']


Dados únicos da coluna Estado Civil: ['Solteiro(a)' 'Viúvo(a)' 'Casado(a)/Mora com companheiro(a)'
 'Divorciado(a)/Desquitado(a)/Separado(a)']


Dados únicos da coluna Cor/raça: ['Amarela' 'Não declarado' 'Parda' 'Branca' 'Preta' 'Indígena']


Dados únicos da coluna Tipo de escola do Ensino Médio: ['Privada' 'Pública' 'Não Respondeu' 'Exterior']


Dados únicos da coluna Tipo de instituição que concluiu ou concluirá o Ensino Médio: ['Ensino Regular' 'Educação de Jovens e Adultos'
 'Educação Especial - Modalidade Substitutiva']


Dados únicos da coluna Nome do município da escola: ['Ananindeua' 'Rio Pardo de Minas' 'São Francisco' ... 'Cafeara'
 'Dom Pedro de Alcântara' 'Miguel Leão']


Dados únicos da coluna Sigla da Unidade da Federação da escola: ['PA' 'MG' 'BA' 'SE' 'RJ' 'RS' 'SP' 'MT' 'CE' 'SC' 'MA' 'PE' 'AL' 'PR'
 'AM' 'MS' 'PB' 'DF' 'PI' 'RN' 'GO' 'RO' 'ES' 'AP' 'RR' 'TO' 'AC']


Dados únicos da coluna Dependência administrativa (Escola): ['Privada' 'Estadual' 'Federal' 'Municipal']


Dados únicos da coluna Localização (Escola): ['Urbana' 'Rural']


Dados únicos da coluna Situação de funcionamento (Escola): ['Em atividade' 'Extinta' 'Escola extinta em anos anteriores.'
 'Paralisada']


Dados únicos da coluna Nome do município da aplicação da prova: ['Ananindeua' 'Rio Pardo de Minas' 'São Francisco' ...
 'Santa Isabel do Rio Negro' 'Japurá' 'Santa Rosa do Purus']


Dados únicos da coluna Sigla da Unidade da Federação da aplicação da prova: ['PA' 'MG' 'BA' 'SE' 'RJ' 'RS' 'SP' 'MT' 'CE' 'SC' 'MA' 'PE' 'AL' 'PR'
 'AC' 'MS' 'PB' 'DF' 'PI' 'RN' 'AM' 'GO' 'RO' 'ES' 'AP' 'RR' 'TO']


Dados únicos da coluna Nota da prova de Ciências da Natureza: [534.2 470.6 588.9 ... 789.6 779.4 756.1]


Dados únicos da coluna Nota da prova de Ciências Humanas: [611.4 473.8 663.3 ... 387.4 787.9 787. ]


Dados únicos da coluna Nota da prova de Linguagens e Códigos: [517.9 534.4 614.5 ... 736.2 728.7 755.2]


Dados únicos da coluna Nota da prova de Matemática: [496.3 410.4 711.5 ... 366.2 960.7 935.6]


Dados únicos da coluna Língua Estrangeira: ['Espanhol' 'Inglês']


Dados únicos da coluna Situação da redação do participante: ['Sem problemas' 'Parte desconectada' 'Fuga ao tema'
 'Cópia Texto Motivador' 'Texto insuficiente' 'Em Branco' 'Anulada'
 'Não atendimento ao tipo textual']


Dados únicos da coluna Nota da competência 1 - Demonstrar domínio da modalidade escrita formal da Língua Portuguesa.: [120. 160. 140. 100.  80. 180.   0. 200.  60.  40.  20.]


Dados únicos da coluna Nota da competência 2 - Compreender a proposta de redação e aplicar conceitos das várias áreas de conhecimento para desenvolver o tema, dentro dos limites estruturais do texto dissertativo-argumentativo em prosa.: [ 40. 120. 160. 140. 180. 100. 200.  80.   0.  60.]


Dados únicos da coluna Nota da competência 3 - Selecionar, relacionar, organizar e interpretar informações, fatos, opiniões e argumentos em defesa de um ponto de vista.: [ 40. 100. 180. 140. 120. 200. 160.  80.   0.  60.  20.]


Dados únicos da coluna Nota da competência 4 - Demonstrar conhecimento dos mecanismos linguísticos necessários para a construção da argumentação.: [120. 180. 140. 160. 100.  80. 200.   0.  60.  40.  20.]


Dados únicos da coluna Nota da competência 5 - Elaborar proposta de intervenção para o problema abordado, respeitando os direitos humanos.: [ 40. 140. 120.  80. 100. 160.   0.  60.  20. 200. 180.]


Dados únicos da coluna Nota da prova de redação.: [ 360.  600.  800.  540.  680.  580.  640.  660.  700.  820.  760.  340.
  500.  520.  280.  320.  960.  720.  620.  920.  300.  560.  860.  400.
  240.  480.  380.  900.  420.  460.    0.  260.  840.  880.  440.   40.
  980.  780.  940.  220.  740.  200.  160.  180.  140.  120.  100.   80.
   60. 1000.]


Dados únicos da coluna Até que série seu pai, ou o homem responsável por você, estudou?: ['Completou o Ensino Médio, mas não completou a Faculdade.'
 'Não completou a 4ª série/5º ano do Ensino Fundamental.'
 'Completou a Faculdade, mas não completou a Pós-graduação.'
 'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.'
 'Nunca estudou.'
 'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.'
 'Não sei.' 'Completou a Pós-graduação.']


Dados únicos da coluna Até que série sua mãe, ou a mulher responsável por você, estudou?: ['Completou o Ensino Médio, mas não completou a Faculdade.'
 'Não completou a 4ª série/5º ano do Ensino Fundamental.'
 'Completou a Faculdade, mas não completou a Pós-graduação.'
 'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.'
 'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.'
 'Completou a Pós-graduação.' 'Não sei.' 'Nunca estudou.']


Dados únicos da coluna A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação do seu pai ou do homem responsável por você. (Se ele não estiver trabalhando, escolha uma ocupação pensando no último trabalho dele).: ['Grupo 4: Professor (de ensino fundamental ou médio, idioma, música, artes etc.), técnico (de enfermagem, contabilidade, eletrônica etc.), policial, militar de baixa patente (soldado, cabo, sargento), corretor de imóveis, supervisor, gerente, mestre de obras, pastor, microempresário (proprietário de empresa com menos de 10 empregados), pequeno comerciante, pequeno proprietário de terras, trabalhador autônomo ou por conta própria.'
 'Grupo 1: Lavrador, agricultor sem empregados, bóia fria, criador de animais (gado, porcos, galinhas, ovelhas,cavalos etc.), apicultor, pescador, lenhador, seringueiro, extrativista.'
 'Grupo 3: Padeiro, cozinheiro industrial ou em restaurantes, sapateiro, costureiro, joalheiro, torneiro mecânico, operador de máquinas, soldador, operário de fábrica, trabalhador da mineração, pedreiro, pintor, eletricista, encanador, motorista, caminhoneiro, taxista.'
 'Grupo 2: Diarista, empregado doméstico, cuidador de idosos, babá, cozinheiro (em casas particulares), motorista particular, jardineiro, faxineiro de empresas e prédios, vigilante, porteiro, carteiro, office-boy, vendedor, caixa, atendente de loja, auxiliar administrativo, recepcionista, servente de pedreiro, repositor de mercadoria.'
 'Não sei.'
 'Grupo 5: Médico, engenheiro, dentista, psicólogo, economista, advogado, juiz, promotor, defensor, delegado, tenente, capitão, coronel, professor universitário, diretor em empresas públicas ou privadas, político, proprietário de empresas com mais de 10 empregados.']


Dados únicos da coluna A partir da apresentação de algumas ocupações divididas em grupos ordenados, indique o grupo que contempla a ocupação mais próxima da ocupação da sua mãe ou da mulher responsável por você. (Se ela não estiver trabalhando, escolha uma ocupação pensando no último trabalho dela).: ['Grupo 4: Professora (de ensino fundamental ou médio, idioma, música, artes etc.), técnica (de enfermagem, contabilidade, eletrônica etc.), policial, militar de baixa patente (soldado, cabo, sargento), corretora de imóveis, supervisora, gerente, mestre de obras, pastora, microempresária (proprietária de empresa com menos de 10 empregados), pequena comerciante, pequena proprietária de terras, trabalhadora autônoma ou por conta própria.'
 'Grupo 1: Lavradora, agricultora sem empregados, bóia fria, criadora de animais (gado, porcos, galinhas, ovelhas, cavalos etc.), apicultora, pescadora, lenhadora, seringueira, extrativista.'
 'Grupo 2: Diarista, empregada doméstica, cuidadora de idosos, babá, cozinheira (em casas particulares), motorista particular, jardineira, faxineira de empresas e prédios, vigilante, porteira, carteira, office-boy, vendedora, caixa, atendente de loja, auxiliar administrativa, recepcionista, servente de pedreiro, repositora de mercadoria.'
 'Grupo 5: Médica, engenheira, dentista, psicóloga, economista, advogada, juíza, promotora, defensora, delegada, tenente, capitã, coronel, professora universitária, diretora em empresas públicas ou privadas, política, proprietária de empresas com mais de 10 empregados.'
 'Grupo 3: Padeira, cozinheira industrial ou em restaurantes, sapateira, costureira, joalheira, torneira mecânica, operadora de máquinas, soldadora, operária de fábrica, trabalhadora da mineração, pedreira, pintora, eletricista, encanadora, motorista, caminhoneira, taxista.'
 'Não sei.']


Dados únicos da coluna Incluindo você, quantas pessoas moram atualmente em sua residência?: [ 2  7  4  3 11  5  1  6  8  9 10 12 20 17 13 14 15 16 19 18]


Dados únicos da coluna Qual é a renda mensal de sua família? (Some a sua renda com a dos seus familiares.): ['De R$ 2.385,01 até R$ 2.862,00.' 'Até R$ 954,00.'
 'De R$ 4.770,01 até R$ 5.724,00.' 'De R$ 1.431,01 até R$ 1.908,00.'
 'De R$ 954,01 até R$ 1.431,00.' 'De R$ 1.908,01 até R$ 2.385,00.'
 'Nenhuma renda.' 'De R$ 9.540,01 até R$ 11.448,00.'
 'De R$ 2.862,01 até R$ 3.816,00.' 'De R$ 3.816,01 até R$ 4.770,00.'
 'De R$ 5.724,01 até R$ 6.678,00.' 'De R$ 11.448,01 até R$ 14.310,00.'
 'De R$ 6.678,01 até R$ 7.632,00.' 'De R$ 7.632,01 até R$ 8.586,00.'
 'Mais de R$ 19.080,00.' 'De R$ 8.586,01 até R$ 9.540,00.'
 'De R$ 14.310,01 até R$ 19.080,00.']


Dados únicos da coluna Em sua residência trabalha empregado(a) doméstico(a)?: ['Não.' 'Sim, pelo menos cinco dias por semana.'
 'Sim, um ou dois dias por semana.' 'Sim, três ou quatro dias por semana.']


Dados únicos da coluna Na sua residência tem banheiro?: ['Sim, dois.' 'Sim, um.' 'Sim, três.' 'Não.' 'Sim, quatro ou mais.']

Dados únicos da coluna Na sua residência tem quartos para dormir?: ['Sim, três.' 'Sim, dois.' 'Sim, um.' 'Sim, quatro ou mais.' 'Não.']


Dados únicos da coluna Na sua residência tem carro?: ['Não.' 'Sim, um.' 'Sim, dois.' 'Sim, três.' 'Sim, quatro ou mais.']


Dados únicos da coluna Na sua residência tem motocicleta?: ['Não.' 'Sim, um.' 'Sim, dois.' 'Sim, três.' 'Sim, quatro ou mais.']


Dados únicos da coluna Na sua residência tem geladeira?: ['Não.' 'Sim, um.' 'Sim, dois.' 'Sim, três.' 'Sim, quatro ou mais.']


Dados únicos da coluna Na sua residência tem freezer (independente ou segunda porta da geladeira)?: ['Sim, um.' 'Não.' 'Sim, dois.' 'Sim, três.' 'Sim, quatro ou mais.']


Dados únicos da coluna Na sua residência tem máquina de lavar roupa? (o tanquinho NÃO deve ser considerado): ['Não.' 'Sim, um.' 'Sim, dois.' 'Sim, três.' 'Sim, quatro ou mais.']


Dados únicos da coluna Na sua residência tem máquina de secar roupa (independente ou em conjunto com a máquina de lavar roupa)?: ['Não.' 'Sim, um.' 'Sim, dois.' 'Sim, três.' 'Sim, quatro ou mais.']


Dados únicos da coluna Na sua residência tem forno micro-ondas?: ['Sim, um.' 'Não.' 'Sim, dois.' 'Sim, quatro ou mais.' 'Sim, três.']


Dados únicos da coluna Na sua residência tem máquina de lavar louça?: ['Não.' 'Sim, um.' 'Sim, dois.' 'Sim, quatro ou mais.' 'Sim, três.']


Dados únicos da coluna Na sua residência tem aspirador de pó?: ['Sim.' 'Não.']


Dados únicos da coluna Na sua residência tem televisão em cores?: ['Sim, dois.' 'Sim, um.' 'Sim, três.' 'Não.' 'Sim, quatro ou mais.']


Dados únicos da coluna Na sua residência tem aparelho de DVD?: ['Sim.' 'Não.']


Dados únicos da coluna Na sua residência tem TV por assinatura?: ['Sim.' 'Não.']


Dados únicos da coluna Na sua residência tem telefone celular?: ['Sim, três.' 'Sim, quatro ou mais.' 'Sim, um.' 'Sim, dois.' 'Não.']


Dados únicos da coluna Na sua residência tem telefone fixo?: ['Sim.' 'Não.']


Dados únicos da coluna Na sua residência tem computador?: ['Sim, dois.' 'Não.' 'Sim, um.' 'Sim, três.' 'Sim, quatro ou mais.']


Dados únicos da coluna Na sua residência tem acesso à Internet?: ['Sim.' 'Não.']


Dados únicos da coluna Em que tipo de escola você frequentou o Ensino Médio?: ['Somente em escola privada SEM bolsa de estudo integral.'
 'Somente em escola pública.'
 'Parte em escola pública e parte em escola privada SEM bolsa de estudo integral.'
 'Parte em escola pública e parte em escola privada COM bolsa de estudo integral.'
 'Somente em escola privada COM bolsa de estudo integral.']

In [19]:
microdados_enem_2018_selecionados

,Número de inscrição,Faixa etária,Sexo,Estado Civil,Cor/raça,Tipo de escola do Ensino Médio,Tipo de instituição que concluiu ou concluirá o Ensino Médio,Nome do município da escola,Sigla da Unidade da Federação da escola,Dependência administrativa (Escola),...,Na sua residência tem máquina de lavar louça?,Na sua residência tem aspirador de pó?,Na sua residência tem televisão em cores?,Na sua residência tem aparelho de DVD?,Na sua residência tem TV por assinatura?,Na sua residência tem telefone celular?,Na sua residência tem telefone fixo?,Na sua residência tem computador?,Na sua residência tem acesso à Internet?,Em que tipo de escola você frequentou o Ensino Médio?
0,180007186625,17 anos,F,Solteiro(a),Amarela,Privada,Ensino Regular,Ananindeua,PA,Privada,...,Não.,Sim.,"Sim, dois.",Sim.,Sim.,"Sim, três.",Sim.,"Sim, dois.",Sim.,Somente em escola privada SEM bolsa de estudo ...
2,180007186628,18 anos,M,Solteiro(a),Não declarado,Pública,Ensino Regular,Rio Pardo de Minas,MG,Estadual,...,Não.,Não.,"Sim, um.",Sim.,Não.,"Sim, três.",Não.,Não.,Não.,Somente em escola pública.
3,180007186629,17 anos,F,Solteiro(a),Parda,Privada,Ensino Regular,Ananindeua,PA,Privada,...,Não.,Não.,"Sim, dois.",Não.,Sim.,"Sim, três.",Sim.,Não.,Sim.,Parte em escola pública e parte em escola priv...
5,180007186632,17 anos,F,Solteiro(a),Parda,Pública,Ensino Regular,São Francisco,MG,Estadual,...,Não.,Não.,"Sim, um.",Sim.,Não.,"Sim, três.",Não.,Não.,Sim.,Parte em escola pública e parte em escola priv...
11,180007186638,17 anos,F,Solteiro(a),Não declarado,Pública,Ensino Regular,Salvador,BA,Estadual,...,Não.,Não.,"Sim, dois.",Não.,Não.,"Sim, três.",Não.,Não.,Não.,Somente em escola pública.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5513622,180014002519,18 anos,F,Solteiro(a),Branca,Privada,Ensino Regular,São Paulo,SP,Privada,...,Não.,Sim.,"Sim, dois.",Não.,Sim.,"Sim, três.",Sim.,"Sim, um.",Sim.,Somente em escola privada SEM bolsa de estudo ...
5513644,180014002546,18 anos,M,Solteiro(a),Parda,Pública,Ensino Regular,Estância,SE,Estadual,...,Não.,Não.,"Sim, um.",Não.,Não.,"Sim, três.",Não.,Não.,Não.,Parte em escola pública e parte em escola priv...
5513670,180014002584,18 anos,M,Solteiro(a),Parda,Pública,Ensino Regular,Vale de São Domingos,MT,Estadual,...,"Sim, um.",Não.,"Sim, um.",Não.,Não.,"Sim, dois.",Não.,"Sim, um.",Sim.,Somente em escola pública.
5513682,180014002611,17 anos,M,Solteiro(a),Parda,Pública,Ensino Regular,Araguaína,TO,Estadual,...,Não.,Não.,Não.,Não.,Não.,"Sim, dois.",Não.,Não.,Não.,Somente em escola pública.
5513687,180014002617,19 anos,M,Solteiro(a),Branca,Pública,Ensino Regular,Anápolis,GO,Estadual,...,Não.,Não.,"Sim, um.",Sim.,Não.,"Sim, três.",Não.,"Sim, um.",Sim.,Somente em escola pública.

In [20]:
microdados_enem_2018_selecionados.to_csv('data/microdados_enem_2018.csv', index=False, encoding='ISO-8859-1')